.confirm-modal-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.5);
    z-index: 99999;
}

.confirm-modal {
    display: flex;
    flex-direction: column;
    width: 20em;
    height: 7em;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background: rgb(241, 212, 176);
    border-radius: 0.5em;
}

.confirm-buttons {
    display: flex;
    gap: 0.3em;
}

.confirm-buttons button {
    width: 8em;
    height: 2.5em;
    border-radius: 0.3em;
    border: none;
    color: white;
}

.cancelBtn {
    background-color: rgb(133, 133, 133);
}

.deleteBtn {
    background-color: rgb(255, 80, 80);
}



