.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
}

.add-task-btn {
  padding: 20px;
  width: 300px;
  background-color: rgb(0, 195, 255);
  border: none;
  border-radius: 5px;
}

.add-task-btn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}