.todo-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0,0,0,0.5);
}

.todo-inputs {
    background: rgb(241, 212, 176);
    padding: 20px;
    width: 300px;
    height: 300px;
}

.todo-inputs label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
    color: black;
}