.todo-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background: rgba(0,0,0,0.5);
}

.todo-inputs {
    background: rgb(241, 212, 176);
    padding: 20px;
    width: 300px;
    height: 380px;
}

.todo-inputs-style {
    width: 100%;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.todo-inputs label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
    color: black;
}

.new-task-btn {
    flex: 1;
    padding: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
}